/*============== FUENTE ===================*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*============== BG-COLORS ===================*/
:root {
  --nav-bg: #696969;
  --primary: #778899;
  --secondary: #a0522d;
  --text-white: #fafafa;
}
/*============== RESET ===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*============== BARRA-NAV ===================*/
header {
  width: 100%;
  position: fixed;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

.Logo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.Logo img {
  aspect-ratio: 1 / 1;
  height: 6vh;
  border-radius: 3px;
}

nav {
  padding-right: 4rem;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  color: white;
  font-family: "Montserrat";
  text-decoration: none;
}
/*============== MAIN ===================*/
main {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*============== HERO SECTION ===================*/
#hero {
  margin-top: 6rem;
  width: 100%;
  padding: 30px;
  max-height: 500px;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
}

#hero img {
  aspect-ratio: 1/1;
  width: 400px;
}

/*============== HERO-INFO  ===================*/
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 40%;
}

.slogan {
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 800;
}

.hero-info-desc {
  color: var(--text-white);
  font-size: 18px;
  font-weight: 300;
  font-family: "Montserrat";
}

.btns-container {
  display: flex;
  gap: 2rem;
}

.btn {
  font-weight: 800;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.b {
  border: none;
  color: var(--primary);
  background-color: black;
}
.w {
  border: solid black 3px;
}

/*====================== ABOUT SECTION ======================= */
#about {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-height: 500px;
  max-width: 1400px;
}

.about-ttl {
  font-family: "Montserrat";

  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
}

.about-desc {
  width: 70%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
}
/* 
=============================CARDS============================ */
#info {
  max-height: 500px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  padding: 2rem;
  gap: 2rem;
}

.info-h3 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

.info_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  width: 300px;
  height: 350px;
  background-color: var(--nav-bg);
  border-radius: 1rem;
}

.info_card-img {
  aspect-ratio: 1/1;
  height: 70px;
  width: 70px;
}

.info_card-title {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-white);
}

.info_card-p {
  font-family: "Montserrat";
}

#contacto {
  max-height: 500px;
  max-width: 1400px;
  margin-top: 4rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.contacto-title {
  font-family: "Montserrat";
  font-size: 35px;
}

.contact-img {
  width: 40%;
}

.contact_info {
  background-color: var(--nav-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 2rem;
}

.contact_info-card {
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.contact_info-card h5 {
  color: var(--text-white);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

.contact_info-card a {
  padding: 10px;
  border-radius: 10px;
  background-color: #696969;
  text-decoration: none;
  color: var(--text-white);
  text-align: start;
}

.contact_info-card span {
  background-color: var(--text-white);
  color: black;
  border-radius: 2px;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  align-items: center;
}

.footer-img {
  width: 100px;
  padding: 10px 30px;
}

.footer-copyright {
  padding-right: 25px;
  text-decoration: underline;
}
